<!DOCTYPE html>
<html>
<head>
  <title>RandomSeat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
    <header>
        <div class="container">
            <div class="link-underline-delete">
	        <h1>
	            <%= link_to "席替えアプリ", root_path %>
                </h1>
            </div>
        </div>
      <!-- <%= link_to "TOP", teams_path %> -->

    </header>
    <div style="height:50px;"></div>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <div class="container">
    <div id="main" >
      <%= yield %>
    </div><!-- main -->
    </div>

    <footer>
        <div class="container">
            © okamura keijiro 2015
        </div>
    </footer>
</div><!-- wrapper -->
</body>
</html>
